

/* Sorry mam late  */




/* i use css external in education section -accordion 1
and inline font = bold*/

section .Post-Graduate-paragraph{
    margin-left: 35px;
    font-family:Arial, Helvetica, sans-serif;
    
}
section .Undergraduate-Degree-paragraph{
    margin-left: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

/* i use inline css "img-fluid mx-auto d-block" to make my img 
follow the card size and centered -accordion 3 */

/* i use inline css "img-fluid" to make my img follow the card size -accordion 4 */